<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBacVA_ffeViDRRVSEf5SRt00vnbJ1lDSw</string>
	<key>GCM_SENDER_ID</key>
	<string>332412034864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DogApplication.DogGramApp</string>
	<key>PROJECT_ID</key>
	<string>doggramapp-a7dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>doggramapp-a7dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332412034864:ios:838df4a8d48e53a85df2f5</string>
</dict>
</plist>